@mixin box-container($padding, $corner, $alpha) {
  display: flex;
  background-color: rgba(0, 0, 0, $alpha);
  border-radius: $corner;
  padding: $padding;
}

@mixin box-container-default() {
  flex-direction: column;
  flex: 1;
  min-height: 90px;
  margin-bottom: 5px;
  border: $defaultBorder;
  @include box-container(5px, 3px, .05);
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
