/*
Aplication variables
--------------------
This file application-wide variables
*/

$mainBgColor: #fbfbfb;
$navbarHeight: 50px;

$fontColorMain: rgba(0, 0, 0, .6);
$fontColorLighter: rgba(0, 0, 0, .5);
$fontColorActive: rgba(0, 0, 0, .75);
$fontColorInverse: rgba(255, 255, 255, .95);

$defaultBorder: 1px solid rgba(0, 0, 0, 0.07);
