@import "base";

$mainContentPadding: 20px;

.viewport {
  height: 100vh;
  padding-top: $navbarHeight;
}

.main-content {
  padding-top: $mainContentPadding;
  overflow-y: auto;
  height: 100%;
  position: relative;
}
